* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(236, 233, 233);
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style: none;
    font-size: 20px;
    font-style: italic;
    font-weight: 600;
}

a {
    text-decoration: none;
}

body {
    height: 100vh;
    background: linear-gradient(180deg, #000, #434343) no-repeat;
    background-attachment: fixed;
}

img {
    width: 125px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    box-shadow: 1px 1px 10px 1px #434343;
    margin-bottom: 45px;
}

header ul {
    display: flex;
}

header ul li {
    padding: 10px;
}

header ul li a {
    transition: 500ms;
}

header ul li a:hover {
    color: #434343
}

.container {
    text-align: center;
}

.container .name h1 {
    font-size: 50px;
}

.container .name h5 {
    font-size: 20px;
    margin-top: 15px;
}


#arrow {
    font-size: 35px;
    cursor: pointer;
    animation: blink 1s steps(5, start) infinite;
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}

#animation {
    transition: 500ms;
}

.rotate {
    transform: rotate(180deg);
    transition: 500ms;
}

.active {
    display: block !important;
}

#about p {
    max-width: 600px;
    margin: 0 auto;
    padding: 10px

}

.form {
    width: 40%;
    margin: 0 auto;
    margin-top: 30px;
}

.form input {
    color: black;
    font-weight: 500;
    width: 50%;
    padding: 5px 10px;
    border: none;
    border-radius: 4px 0px 0px 4px;
    
}

.form button {
    width: 20%;
    padding: 5px 10px;
    background: linear-gradient(to right, #f08182 50%, #ea5455 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    color: rgb(236, 233, 233);
    font-weight: 700;
    border: none;
    cursor: pointer;
    transition: all 500ms ease-out;
    border-radius: 0px 4px 4px 0px;
    margin-top: 20px;
    margin-left: -5px;

}

.form button:hover {
    background-position: left bottom;
    /*background-color: #f08182;*/
    color: rgb(236, 233, 233)
}

footer {
    padding-top: 50px;
}

/* Telas para celular*/
@media only screen and (max-width: 553px) {
    body {
        background-attachment: fixed;
        background-position: center;
    }
    .container .name h1 {
        font-size: 25px;
    }

    .container .name h5 {
        font-size: 15px;
    }

    img {
        width: 90px;
    }

    header ul li{
        font-size: 10px;
        padding: 5px
    }

    #about p {
        max-width: 80%;
    }

    .form {
        width: 100%;
        margin: center;
    }
}

/* Telas Tablet*/
@media only screen and (max-width: 768px) {
    .container .name h1 {
        font-size: 27px;
    }
    header ul li{
        font-size: 10px;
        padding: 5px
    }
    .form {
        width: 100%;
    }
    .form input {
        width: 70%;
    }
} 