* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(236, 233, 233);
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style: none;
    font-size: 20px;
    font-style: italic;
    font-weight: 600;
}

a {
    text-decoration: none;
}

body {
    height: 100vh;
    background: linear-gradient(180deg, #000, #434343) no-repeat

}

img {
    width: 100px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    box-shadow: 1px 1px 10px 1px #434343;
}

header ul {
    display: flex;
}

header ul li {
    padding: 10px;
}

header ul li a {
    transition: 500ms;
}

header ul li a:hover {
    color: #434343
}

.container {
    text-align: center;
}

.container .name h1 {
    font-size: 50px;
}

.container .name h5 {
    font-size: 20px;
}

#about p {
    max-width: 600px;
    margin: 0 auto
}

.form {
    width: 40%;
    margin: 0 auto;
}
.form input {
    width: 50%;
    padding: 5px 10px;
    border: none;
    
}

.form button {
    width: 20%;
    padding: 5px 10px;
    background-color: rgb(236, 233, 233);
    color:black;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: 500ms;

}

.form button:hover {
    background-color: black;
    color: rgb(236, 233, 233)
}